*{
    margin: 0;
    padding: 0;
    font-family: poppins;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.banner{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    background: #2a2a2a;
    background-size: cover;
    display: flex;
    align-items: center;
    transition: 0.5s;
    z-index: 2;
}


.projects {
    padding: 4rem 0;
    background: #2a2a2a;
}

.section-title h2 {
    text-align: left;
    font-size: 2.5rem;
    color: white;
    margin-left: 70px;
    margin-bottom: 5rem;
    text-transform: capitalize;
    letter-spacing: 0.1rem;
}

.projects-center{
    width: 90vw;
    margin: 0 auto;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0.5fr, 1fr));
    grid-column-gap: 1.5rem;
    grid-row-gap: 2rem;
}

.project {
    background: black;
}

.img-container {
    position: relative;
    overflow: hidden;
}

.project-img {
    display: block;
    width: 100%;
    transition: 0.5s ease;
}

.img-container:hover .project-img{
    opacity: 0.5;
}

.view-btn {
    position: absolute;
    top: 70%;
    right: 0;
    background: black;
    border: none;
    text-transform: uppercase;
    padding: 1rem 2rem;
    color: white;
    letter-spacing: 0.1rem;
    font-weight: bold;
    transition: 0.5s ease;
    transform: translateX(101%);
    cursor: pointer;
}

.view-btn a {
    text-decoration: none;
    color: white;
}

.view-btn a:hover {
    color: black;
}

.view-btn:hover {
    background: white;
    color: black;
}

.img-container:hover .view-btn {
    transform: translateX(0);
}

.project h3 {
    text-transform: capitalize;
    font-size: 1.1em;
    margin-top: 10px;
    letter-spacing: 0.1rem;
    text-align: center;
    color: white;
}

.project h4 {
    margin-top: 0.6em;
    margin-bottom: 10px;
    letter-spacing: 0.1rem;
    color: black;
    text-align: center;
    color: white;
}

.parent-container {
    display: flex;
    justify-content: space-between;
}

.skill-container {
    max-width: 50px;
    padding: 10px;
    border-radius: 10px;
    background: black;
    display: flex;
    align-items: center;
}

.skill-container img {
    max-width: 100%;
}

.content{
    max-width: 600px;
}

.content h2{
    color: #fff;
    font-size: 2.5em;
}

.content h2 span{
    font-size: 0.8em;
    font-weight: lighter;
    color: rgb(238, 236, 236);
    opacity: 0.5;
}

.content p{
    font-size: 2em;
    width: 100%;
    padding: 20px;
    letter-spacing: 5px;
    line-height: 50px;
    color: rgb(238, 236, 236);
    font-family: poppins;
}

.content button{
    position: relative;
    display: inline-block;
    margin-top: 20px;
    background: #000;
    color: #fff;
    padding: 10px 30px;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
    transition: 0.5s ease;
}

.content button:hover{
    background-color: white;
    color: black;
}

.sci{
    position: absolute;
    display: flex;
    flex-direction: row;
    bottom: 100px;
    left: 80px;
    transform: scale(0.8);
}

.sci li {
    list-style: none;
}

.sci li a{
    position: relative;
    display: grid;
    place-items: center;
    width: 50px;
    height: 50px;
    text-decoration: none;
    margin: 10px 0 0;
    padding: 10px;
}

.sci li a img{
    max-width: 100%;
    filter: invert(1);
}

.sci li a img:hover{
    /*transform: scale(1.5);
    transition: 0.3s;*/
    transform: rotate(-360deg);
    transition: 2s ease;
}

/*Contact section */

.contact .banner {
    display: flex;
    justify-content: center;
}

.contact .banner h2 {
    color: white;
    font-size: 2em;
    align-self: center;
}

.contact .banner form {
    margin-top: 50px;
}

.contact .banner form input {
    margin: 20px 10px 10px 0;
    padding: 10px 50px;
    border-radius: 10px;
    border: none;
    background-color: #fff;
    text-align: left;
}

.contact .banner form textarea {
    border-radius: 10px;
}

.contact .banner form label {
   color: white;
   margin-top: 10px;
}


.contact .banner form .submit-btn {
    padding: 10px 20px;
    font-size: 1rem;
    background: #fff;
    border: none;
    cursor: pointer;
}

.contact .banner form .submit-btn:hover {
    background-color: #817979;
}

@media (max-width: 767px){
    
    .banner{
        padding: 100px 50px 150px;
    }
    .banner h2{
        font-size: 1.8em;
    }
    #about .info{
        font-size: 0.6em;
    }
    #about p{
        font-size: 1em;
    }
    .banner p,
    .banner a{
        font-size: 1em;
    } 
    .sci{
        left: 40px;
        bottom: 200px;
        flex-direction: row;
    }
    .sci li a{
        margin: initial;
        margin-right: 10px;
    }
    .sci li a img{
        max-width: 30px;
    }
    .project h3,
    .project h4 {
        font-size: 10px;
    }
    .parent-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20px, 30px));
        grid-column-gap: 1.5rem;
        grid-row-gap: 2rem;
    }
    .skill-container {
        max-width: 100%;
        padding: 2px 5px;
    }
    .skill-container img {
        max-width: 100%;
    }
    .content button{
        margin-top: 20px;
        padding: 10px 20px;
        font-size: 0.5em;
        letter-spacing: 0.5px;
        border: none;
        transition: 0.5s ease;
    }
    
}

.dark-mode {
    position: absolute;
    top: 8%;
    padding: 10px;
    border-radius: 50px;
    cursor: pointer;
}

.banner-dark{
    background: rgb(31, 29, 29);
}

.sidenav {
    height: 100%; /* full height */
    width: 0; /* change this with javascript */
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    background-color: #111;
    overflow: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidenav a {
    padding: 15px 8px 10px 32px;
    text-decoration: none;
    font-size: 1.2em;
    color: #818181;
    transition: 0.3s;
    display: block;
    margin-left: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 20px;
    margin-left: 50px;
}

header {
    cursor: pointer;
    z-index: 100000;
}

header .arrow-right {
    width: 2.5rem;
    transition: 0.3s;
    transition: 0.5s;
    position: absolute;
    top: 10px;
    left: 5px;
    margin-left: 5px;
    z-index: 100000;
    filter: invert(1);
}


header .arrow-right:hover {
    margin-left: 20px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}


